services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: market-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/

  postgres:
    image: postgres:16-alpine
    container_name: market-postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ~/.docker-conf/postgres/data:/var/lib/postgresql/data